- name: Downloading Nodejs Repo
  ansible.builtin.shell: curl -sL https://rpm.nodesource.com/setup_19.x | sudo -E bash -

- name: Installing nodejs Server
  ansible.builtin.yum:
    name: nodejs
    state: latest

- name: Include task list in play
  ansible.builtin.import_tasks:
    file: app_start.yml

- name: Installing npm
  ansible.builtin.shell: npm install
  args:
    chdir: /app

- name: Include task list in play
  ansible.builtin.import_tasks:
    file: service_start.yml
